:root {
    --bg1: #636e72;
    --anim1: #b2bec3;

    --bg2: #fd79a8;
    --anim2: #6c5ce7;

    --bg3: #ff7675;
    --anim3: #0984e3;

    --bg4: #fab1a0;
    --anim4: #00cec9;

    --bg5: #ffeaa7;
    --anim5: #00b894;

    --outline: #2d3436;
    --text-color: #2d3436;
}